

{% extends "header.html" %}

{% block about%} 
<div class="page-wrapper">
    <!-- Preloader http://preview.themeforest.net/item/finandox-react-business-consulting-template/full_screen_preview/27022161?_ga=2.79485268.1350930259.1678638952-1556967069.1678638952&_gac=1.249926900.1678639074.Cj0KCQiAjbagBhD3ARIsANRrqEscSS4tP2cdRsixYeJQqtLH0gHGiRWwaOTDon5B7w48hF8NpI3VHKMaAp8_EALw_wcB --> 
 

    <!-- Main Header -->
    <header class="main-header">

        <!-- Header Upper -->
        <div class="header-upper">
            <div class="auto-container">
                <div class="inner-container">
                    <!--Nav Box-->
                    <div class="nav-outer clearfix">
                        <!--Mobile Navigation Toggler-->
                        <div class="mobile-nav-toggler"><span class="icon fal fa-bars"></span></div>
                        <div class="top-left">
                            <!--Logo-->
                            <div class="logo-box">
                                <div class="logo"><a href='/'><img src={{ url_for('static', filename='images/logo.svg') }}  alt=""></a></div>
                            </div>
                        </div>
                 <!-- Main Menu -->
                 <nav class="main-menu navbar-expand-md navbar-light">
                            
                    <div class="collapse navbar-collapse show clearfix" id="navbarSupportedContent">
                        <ul class="navigation clearfix">
                       
                            <li><a href='/'>Inicio</a></li>
                            <li><a href="about">Nosotros</a></li>
                            <li ><a href="productos">Productos</a> </li>
                            <li ><a href="blog">Blog</a></li>
                            
                            <li ><a href="contacto">Contacto</a></li>
                        
                        </ul>
                        
                    </div>
          
                </nav>
                <!-- Main Menu End-->
                        
                    </div>
                </div>
            </div>
        </div>
        <!--End Header Upper-->
        <!-- Sticky Header  -->
        <div class="sticky-header">
            <div class="auto-container clearfix">
                <!--Logo-->
                <div class="logo pull-left">
                    <a href="index.html" title=""><img src={{ url_for('static', filename='images/logo3.svg') }}  alt="" title=""></a>
                </div>
                <!--Right Col-->
                <div class="pull-right">
                    <!-- Main Menu -->
                    <nav class="main-menu clearfix">
                        <!--Keep This Empty / Menu will come through Javascript-->
                    </nav><!-- Main Menu End-->
                </div>
            </div>
        </div><!-- End Sticky Menu -->

        <!-- Mobile Menu  -->
        <div class="mobile-menu">
            <div class="menu-backdrop"></div>
            <div class="close-btn"><span class="icon flaticon-cancel"></span></div>
            
            <nav class="menu-box">
                <div class="nav-logo"><a href="index.html"><img src={{ url_for('static', filename='images/logo.svg') }} alt="" title=""></a></div>
                <div class="menu-outer"><!--Here Menu Will Come Automatically Via Javascript / Same Menu as in Header--></div>
				<!--Social Links-->
				<div class="social-links">
					<ul class="clearfix">
						<li><a href="#"><span class="fab fa-twitter"></span></a></li>
						<li><a href="#"><span class="fab fa-facebook-square"></span></a></li>
						<li><a href="#"><span class="fab fa-pinterest-p"></span></a></li>
						<li><a href="#"><span class="fab fa-instagram"></span></a></li>
						<li><a href="#"><span class="fab fa-youtube"></span></a></li>
					</ul>
                </div>
            </nav>
        </div><!-- End Mobile Menu -->
    </header>
    <!-- End Main Header -->
    
 

    <!-- News Section -->
    <section class="article-section">
        <div class="auto-container" >
            <div class="sec-title text-center light" >
                <div class="sub-title">Nosotros</div>
                <h1>¿Qué es Mancuerfit?</h1>
            </div>

        </div>
    </section>

        <!-- About Section -->
        <section class="about-section">
            <div class="auto-container">
                <div class="row align-items-center">
            
                    <div class="column">
                        <div class="content-box" >
                            <div class="sec-title"  style="text-align: center">
                           
                                <div class="text text-justify"><h4>Mancuerfit es una marca ubicada en Barranquilla que distribuye mancuernas, discos de gymnasio y pesas rusas a nivel local y nacional. Nustros productos son obtenidos de materiales reciclables.
                                    Mancuerfit es una empresa especializada en la venta de mancuernas y otros accesorios de entrenamiento para el hogar y el gimnasio. Nos enorgullece ser uno de los principales proveedores de mancuernas y equipamiento de fitness en todo el país, ofreciendo una amplia gama de productos de buena calidad a precios asequibles.<br><br>
En Mancuerfit entendemos la importancia del ejercicio y la actividad física para la salud y el bienestar, y nos esforzamos por ofrecer productos que sean duraderos, fáciles de usar y eficaces para alcanzar los objetivos de entrenamiento de nuestros clientes. Nuestro catálogo de productos incluye mancuernas de diferentes pesos y materiales, desde mancuernas de hierro fundido hasta mancuernas ajustables, para adaptarse a las necesidades y niveles de entrenamiento de cada persona.<br><br>
Además de mancuernas, también ofrecemos otros accesorios de entrenamiento, como pesas rusas, Discos entre otros, para complementar cualquier entrenamiento en casa o en el gimnasio. Nuestros productos son ideales tanto para principiantes como para atletas experimentados que buscan mejorar su rendimiento.<br><br>
En Mancuerfit nos preocupamos por la satisfacción del cliente y, por eso, ofrecemos una excelente atención al cliente y asesoramiento en la elección del producto adecuado para cada persona. También ofrecemos envío a todo el país y, en muchos casos, la entrega es gratuita para nuestros clientes.<br><br>
Nos enorgullece decir que nuestros productos son fabricados con los materiales reciclables. Además, ofrecemos una garantía de calidad en todos nuestros productos para que nuestros clientes puedan estar seguros de que están invirtiendo en un producto duradero y efectivo para sus objetivos de entrenamiento.<br><br>
Si estás buscando mancuernas y otros accesorios de entrenamiento de alta calidad, Mancuerfit es el lugar adecuado. Con nuestro compromiso con la calidad, la atención al cliente y los precios asequibles, estamos seguros de que encontrará todo lo que necesita para su entrenamiento en casa o en el gimnasio.<br><br>
                                </h4></div>
                                <img src={{ url_for('static', filename='images/resource/SOSTENIBLE.svg') }} alt=""></div>
                            </div>
                                    
                        </div>

                    </div>
                </div>
            </div>
        </section>

    
	<!-- Main Footer -->
    <footer class="main-footer">
    	<div class="auto-container">
        	<!--Widgets Section-->
            <div class="widgets-section">
            	<div class="row clearfix">
                	
                    <!--Column-->
                    <div class="column col-lg-4">
						<div class="footer-widget logo-widget">
                        	<div class="widget-content">
                              
                                <ul class="social-links clearfix">
                                    <li><a href=""><img src={{ url_for('static', filename='images/icons/facebookmancuernas.svg') }}  alt=""></span></a></li>
                                    <li><a href="https://wa.me/573005205177"><img src={{ url_for('static', filename='images/icons/mancuernaswhatsapp.svg') }}  alt=""></span></a></li>
                                    <li><a href="https://www.instagram.com/mancuerfit/"><img src={{ url_for('static', filename="images/icons/mancuernasinstagram.svg") }}   alt=""></span></a></li>
                                </ul>


                            </div>

                        
                            
						</div>
                        <div class="center-image">
                            <img class="lazy-image owl-lazy"  data-src={{ url_for('static', filename='images/logo.svg') }}  alt="">
                        </div>
					</div>
					<!--Column-->
                    <div class="column col-lg-4">
						<div class="footer-widget links-widget text-center">
							<div class="widget-content">
								<h3>Links</h3>
                            
                             
                                        <ul>
                                            <li><a href="/">Inicio</a></li>
                                            <li><a href="about">Nosotros</a></li>
                                            <li><a href="productos">Productos</a></li>
                                            <li><a href="contacto">Contacto</a></li>
                                         
                                        </ul>
                             
                                
                           
							</div>	
						</div>
					</div>
					
					<!--Column-->
                    <div class="column col-lg-4">
						<div class="footer-widget instagram-widget text-center">
                            <h3>Ubicación</h3>
							<div class="inner-box">
                                    <p>Barranquilla, Colombia</p>
                           
                            </div>	
						</div>
					</div>
					

         
					
				</div>
                
			</div>
		</div>
		
		<!-- Footer Bottom -->
		<div class="auto-container">				
            <div class="footer-bottom">
          
            	<div class="copyright">Copyright @<a href="#">Mancuerfit Barranquilla</a> - 2023</div>
                <div class="copyright">Powered @<a href="https://www.nlanub.com">Nlanub</a> - 2023</div>
          
			</div>
		</div>
	</footer>
	
</div>
<!--End pagewrapper-->

<!--Scroll to top-->
<div class="scroll-to-top scroll-to-target" data-target="html"><span class="fal fa-arrow-circle-up"></span></div>


<script src={{ url_for('static', filename='js/jquery.js') }}></script>
<script src={{ url_for('static', filename='js/bootstrap.min.js') }}></script>
<script src={{ url_for('static', filename='js/lazyload.js') }}></script>
<script src={{ url_for('static', filename='js/scrollbar.js') }}></script>
<script src={{ url_for('static', filename='js/script.js') }}></script>

</body>
</html>
{% endblock %}