

{% extends "header.html" %}

{% block articulo15%} 
<div class="page-wrapper">
    <!-- Preloader http://preview.themeforest.net/item/finandox-react-business-consulting-template/full_screen_preview/27022161?_ga=2.79485268.1350930259.1678638952-1556967069.1678638952&_gac=1.249926900.1678639074.Cj0KCQiAjbagBhD3ARIsANRrqEscSS4tP2cdRsixYeJQqtLH0gHGiRWwaOTDon5B7w48hF8NpI3VHKMaAp8_EALw_wcB --> 
    <div class="loader-wrap">
        <div class="preloader"><div class="preloader-close">Preloader Close</div></div>
        <div class="layer layer-one"><span class="overlay"></span></div>
        <div class="layer layer-two"><span class="overlay"></span></div>        
        <div class="layer layer-three"><span class="overlay"></span></div>        
    </div>

    <!-- Main Header -->
    <header class="main-header">

        <!-- Header Upper -->
        <div class="header-upper">
            <div class="auto-container">
                <div class="inner-container">
                    <!--Nav Box-->
                    <div class="nav-outer clearfix">
                        <!--Mobile Navigation Toggler-->
                        <div class="mobile-nav-toggler"><span class="icon fal fa-bars"></span></div>
                        <div class="top-left">
                            <!--Logo-->
                            <div class="logo-box">
                                <div class="logo"><a href='/'><img src={{ url_for('static', filename='images/logo.svg') }}  alt=""></a></div>
                            </div>
                        </div>
                 <!-- Main Menu -->
                 <nav class="main-menu navbar-expand-md navbar-light">
                            
                    <div class="collapse navbar-collapse show clearfix" id="navbarSupportedContent">
                        <ul class="navigation clearfix">
                       
                            <li><a href='/'>Inicio</a></li>
                            <li><a href="about">Nosotros</a></li>
                            <li ><a href="productos">Productos</a> </li>
                            <li ><a href="blog">Blog</a></li>
                            
                            <li ><a href="contacto">Contacto</a></li>
                        
                        </ul>
                        
                    </div>
          
                </nav>
                <!-- Main Menu End-->
                        
                    </div>
                </div>
            </div>
        </div>
        <!--End Header Upper-->

        <!-- Sticky Header  -->
        <div class="sticky-header">
            <div class="auto-container clearfix">
                <!--Logo-->
                <div class="logo pull-left">
                    <a href="index.html" title=""><img src={{ url_for('static', filename='images/logo3.svg') }}  alt="" title=""></a>
                </div>
                <!--Right Col-->
                <div class="pull-right">
                    <!-- Main Menu -->
                    <nav class="main-menu clearfix">
                        <!--Keep This Empty / Menu will come through Javascript-->
                    </nav><!-- Main Menu End-->
                </div>
            </div>
        </div><!-- End Sticky Menu -->

        <!-- Mobile Menu  -->
        <div class="mobile-menu">
            <div class="menu-backdrop"></div>
            <div class="close-btn"><span class="icon flaticon-cancel"></span></div>
            
            <nav class="menu-box">
                <div class="nav-logo"><a href="index.html"><img src={{ url_for('static', filename='images/logo.svg') }} alt="" title=""></a></div>
                <div class="menu-outer"><!--Here Menu Will Come Automatically Via Javascript / Same Menu as in Header--></div>
				<!--Social Links-->
				<div class="social-links">
					<ul class="clearfix">
						<li><a href="#"><span class="fab fa-twitter"></span></a></li>
						<li><a href="#"><span class="fab fa-facebook-square"></span></a></li>
						<li><a href="#"><span class="fab fa-pinterest-p"></span></a></li>
						<li><a href="#"><span class="fab fa-instagram"></span></a></li>
						<li><a href="#"><span class="fab fa-youtube"></span></a></li>
					</ul>
                </div>
            </nav>
        </div><!-- End Mobile Menu -->
    </header>
    <!-- End Main Header -->
    
    <!--Search Popup-->
    <div id="search-popup" class="search-popup">
        <div class="close-search theme-btn"><span class="flaticon-cancel"></span></div>
            <div class="popup-inner">
                <div class="overlay-layer"></div>
                    <div class="search-form">
                        <form method="post" action="index.html">
                            <div class="form-group">
                                <fieldset>
                                    <input type="search" class="form-control" name="search-input" value="" placeholder="Search Here" required >
                                    <input type="submit" value="Search Now!" class="theme-btn">
                                </fieldset>
                            </div>
                        </form>
                        <br>
                        <h3>Recent Search Keywords</h3>
                    </div>
            
                </div>
            </div>

    <!-- News Section -->
    <section class="article-section">
        <div class="auto-container">
            <div class="sec-title text-center light">
                <div class="sub-title">blog</div>
                <h1>¿Cuántos discos debo usar en una barra?</h1>
            </div>

        </div>
    </section>

    <section class="about-section" style="padding-top:50px">
        <div class="auto-container">
            <div class="row align-items-center ">
                    <div class="content-box" >
                        <div class="sec-title text-center">
                            <div class="text-justify"><h5>Determinar cuántos discos utilizar en una barra depende de varios factores, como el nivel de habilidad del usuario, la capacidad de levantamiento de peso y el tipo de ejercicio que se realiza. Aquí hay algunos consejos para ayudarlo a determinar cuántos discos debe usar en una barra.<br><br>
                                En primer lugar, es importante recordar que la barra en sí misma tiene un peso fijo. Por lo general, las barras de pesas para entrenamiento pesan alrededor de 20 kg, pero también hay barras más ligeras y más pesadas disponibles. Si la barra pesa 20 kg, entonces esa cantidad de peso se debe tener en cuenta al elegir el peso total para el ejercicio.<br><br>
                                En segundo lugar, debe considerar su nivel de habilidad y capacidad de levantamiento de peso. Si es principiante, es recomendable comenzar con un peso más ligero y agregar gradualmente más peso a medida que su fuerza y técnica mejoren. Si es un levantador de pesas experimentado, puede ser capaz de manejar más peso en la barra.<br><br>
                                También debe considerar el tipo de ejercicio que va a realizar. Por ejemplo, un levantamiento de peso muerto requiere más peso en la barra que un ejercicio de curl de bíceps. Además, algunos ejercicios requieren el uso de dos barras, como los press de banca con mancuernas, en los que se debe dividir el peso entre ambas barras.<br><br>
                                En general, una buena regla general es comenzar con un peso ligero y agregar gradualmente más discos de peso a la barra según su capacidad. Es importante recordar que el uso de demasiado peso puede provocar lesiones, por lo que es importante tener una técnica adecuada y siempre buscar la asesoría de un entrenador profesional.<br><br>
                                
                                </h5></div>
                        </div>
                                
                    </div>
             
            </div>
        </div>
    </section>

   
    
	<!-- Main Footer -->
    <footer class="main-footer">
    	<div class="auto-container">
        	<!--Widgets Section-->
            <div class="widgets-section">
            	<div class="row clearfix">
                	
                    <!--Column-->
                    <div class="column col-lg-4">
						<div class="footer-widget logo-widget">
                        	<div class="widget-content">
                              
                                <ul class="social-links clearfix">
                                    <li><a href=""><img src={{ url_for('static', filename='images/icons/facebookmancuernas.svg') }}  alt=""></span></a></li>
                                    <li><a href="https://wa.me/573005205177"><img src={{ url_for('static', filename='images/icons/mancuernaswhatsapp.svg') }}  alt=""></span></a></li>
                                    <li><a href="https://www.instagram.com/mancuerfit/"><img src={{ url_for('static', filename="images/icons/mancuernasinstagram.svg") }}   alt=""></span></a></li>
                                </ul>


                            </div>

                        
                            
						</div>
                        <div class="center-image">
                            <img class="lazy-image owl-lazy"  data-src={{ url_for('static', filename='images/logo.svg') }}  alt="">
                        </div>
					</div>

                    					<!--Column-->
                                        <div class="column col-lg-4">
                                            <div class="footer-widget links-widget text-center">
                                                <div class="widget-content">
                                                    <h3>Links</h3>
                                                
                                                 
                                                            <ul>
                                                                <li><a href="/">Inicio</a></li>
                                                                <li><a href="about">Nosotros</a></li>
                                                                <li><a href="productos">Productos</a></li>
                                                                <li><a href="contacto">Contacto</a></li>
                                                             
                                                            </ul>
                                                 
                                                    
                                               
                                                </div>	
                                            </div>
                                        </div>
                                        
                                        <!--Column-->

                    <div class="column col-lg-4">
						<div class="footer-widget instagram-widget text-center">
                            <h3>Ubicación</h3>
							<div class="inner-box">
                                    <p>Barranquilla, Colombia</p>
                           
                            </div>	
						</div>
					</div>

         
					
				</div>
                
			</div>
		</div>
		
		<!-- Footer Bottom -->
		<div class="auto-container">				
            <div class="footer-bottom">
          
            	<div class="copyright">Copyright @<a href="#">Mancuerfit Barranquilla</a> - 2023</div>
                <div class="copyright">Powered @<a href="www.nlanub.com">Nlanub</a> - 2023</div>
          
			</div>
		</div>
	</footer>
	
</div>
<!--End pagewrapper-->

<!--Scroll to top-->
<div class="scroll-to-top scroll-to-target" data-target="html"><span class="fal fa-arrow-circle-up"></span></div>


<script src={{ url_for('static', filename='js/jquery.js') }}></script>
<script src={{ url_for('static', filename='js/popper.min.js') }}></script>
<script src={{ url_for('static', filename='js/bootstrap.min.js') }}></script>
<script src={{ url_for('static', filename='js/bootstrap-select.min.js') }}></script>
<script src={{ url_for('static', filename='js/jquery.fancybox.js') }}></script>
<script src={{ url_for('static', filename='js/isotope.js') }}></script>
<script src={{ url_for('static', filename='js/owl.js') }}></script>
<script src={{ url_for('static', filename='js/appear.js') }}></script>
<script src={{ url_for('static', filename='js/wow.js') }}></script>
<script src={{ url_for('static', filename='js/lazyload.js') }}></script>
<script src={{ url_for('static', filename='js/scrollbar.js') }}></script>
<script src={{ url_for('static', filename='js/weenMax.min.js') }}></script>
<script src={{ url_for('static', filename='js/script.js') }}></script>

</body>
</html>
{% endblock %}