
{% extends "header.html" %}

{% block articulo11%} 
<div class="page-wrapper">
    <!-- Preloader http://preview.themeforest.net/item/finandox-react-business-consulting-template/full_screen_preview/27022161?_ga=2.79485268.1350930259.1678638952-1556967069.1678638952&_gac=1.249926900.1678639074.Cj0KCQiAjbagBhD3ARIsANRrqEscSS4tP2cdRsixYeJQqtLH0gHGiRWwaOTDon5B7w48hF8NpI3VHKMaAp8_EALw_wcB --> 


    <!-- Main Header -->
    <header class="main-header">

        <!-- Header Upper -->
        <div class="header-upper">
            <div class="auto-container">
                <div class="inner-container">
                    <!--Nav Box-->
                    <div class="nav-outer clearfix">
                        <!--Mobile Navigation Toggler-->
                        <div class="mobile-nav-toggler"><span class="icon fal fa-bars"></span></div>
                        <div class="top-left">
                            <!--Logo-->
                            <div class="logo-box">
                                <div class="logo"><a href='/'><img src={{ url_for('static', filename='images/logo.svg') }}  alt=""></a></div>
                            </div>
                        </div>
                 <!-- Main Menu -->
                 <nav class="main-menu navbar-expand-md navbar-light">
                            
                    <div class="collapse navbar-collapse show clearfix" id="navbarSupportedContent">
                        <ul class="navigation clearfix">
                       
                            <li><a href='/'>Inicio</a></li>
                            <li><a href="about">Nosotros</a></li>
                            <li ><a href="productos">Productos</a> </li>
                            <li ><a href="blog">Blog</a></li>
                            
                            <li ><a href="contacto">Contacto</a></li>
                        
                        </ul>
                        
                    </div>
          
                </nav>
                <!-- Main Menu End-->
                        
                    </div>
                </div>
            </div>
        </div>
        <!--End Header Upper-->


    <!-- News Section -->
    <section class="article-section">
        <div class="auto-container">
            <div class="sec-title text-center light">
                <div class="sub-title">blog</div>
                <h1>¿Cuál es el peso adecuado de la pesa rusa?</h1>
            </div>

        </div>
    </section>

    <section class="about-section" style="padding-top:50px">
        <div class="auto-container">
            <div class="row align-items-center ">
                    <div class="content-box" >
                        <div class="sec-title text-center">
                            <div class="text-justify"><h5>La elección del peso adecuado de la pesa rusa es crucial para maximizar los beneficios de tu entrenamiento y prevenir lesiones. La regla general es que el peso de la pesa rusa debe ser lo suficientemente pesado como para ser un desafío, pero no tan pesado que no puedas realizar correctamente los ejercicios.<br><br>
                                Si eres principiante en el entrenamiento con pesas rusas, es recomendable comenzar con una pesa rusa de entre 4 y 8 kilos, dependiendo de tu nivel de condición física. A medida que te sientas más cómodo y fortalecido, puedes aumentar gradualmente el peso de tu pesa rusa.<br><br>
                                Para los ejercicios que involucran movimientos de balanceo, como el swing de pesa rusa, es importante elegir un peso que te permita controlar la pesa y mantener la técnica adecuada. Si el peso es demasiado pesado, es más probable que pierdas el control y te lesiones.<br><br>
                                Por otro lado, para los ejercicios que involucran levantamiento, como el press de hombros con pesa rusa, el peso debe ser lo suficientemente pesado para ser un desafío, pero no tan pesado que no puedas completar la serie correctamente.<br><br>
                                Es importante recordar que el peso adecuado de la pesa rusa varía de persona a persona, por lo que debes elegir un peso que sea adecuado para ti y tu nivel de condición física actual. Siempre es mejor comenzar con un peso más ligero y aumentarlo gradualmente a medida que te sientas más fuerte y seguro en tu técnica.<br><br>
                                En resumen, el peso adecuado de la pesa rusa es aquel que te desafía pero te permite realizar correctamente los ejercicios. Comienza con un peso que sea apropiado para tu nivel de condición física y aumenta gradualmente a medida que te sientas más cómodo y fortalecido.<br><br>
                                
                                </h5></div>
                        </div>
                                
                    </div>
             
            </div>
        </div>
    </section>

    
    
    
	<!-- Main Footer -->
    <footer class="main-footer">
    	<div class="auto-container">
        	<!--Widgets Section-->
            <div class="widgets-section">
            	<div class="row clearfix">
                	
                    <!--Column-->
                    <div class="column col-lg-4">
						<div class="footer-widget logo-widget">
                        	<div class="widget-content">
                              
                                <ul class="social-links clearfix">
                                    <li><a href=""><img src={{ url_for('static', filename='images/icons/facebookmancuernas.svg') }}  alt=""></span></a></li>
                                    <li><a href="https://wa.me/573005205177"><img src={{ url_for('static', filename='images/icons/mancuernaswhatsapp.svg') }}  alt=""></span></a></li>
                                    <li><a href="https://www.instagram.com/mancuerfit/"><img src={{ url_for('static', filename="images/icons/mancuernasinstagram.svg") }}   alt=""></span></a></li>
                                </ul>


                            </div>

                        
                            
						</div>
                        <div class="center-image">
                            <img class="lazy-image owl-lazy"  data-src={{ url_for('static', filename='images/logo.svg') }}  alt="">
                        </div>
					</div>


                    					<!--Column-->
                                        <div class="column col-lg-4">
                                            <div class="footer-widget links-widget text-center">
                                                <div class="widget-content">
                                                    <h3>Links</h3>
                                                
                                                 
                                                            <ul>
                                                                <li><a href="/">Inicio</a></li>
                                                                <li><a href="about">Nosotros</a></li>
                                                                <li><a href="productos">Productos</a></li>
                                                                <li><a href="contacto">Contacto</a></li>
                                                             
                                                            </ul>
                                                 
                                                    
                                               
                                                </div>	
                                            </div>
                                        </div>
                                        
                                        <!--Column-->
                    <div class="column col-lg-4">
						<div class="footer-widget instagram-widget text-center">
                            <h3>Ubicación</h3>
							<div class="inner-box">
                                    <p>Barranquilla, Colombia</p>
                           
                            </div>	
						</div>
					</div>
					

         
					
				</div>
                
			</div>
		</div>
		
		<!-- Footer Bottom -->
		<div class="auto-container">				
            <div class="footer-bottom">
          
            	<div class="copyright">Copyright @<a href="#">Mancuerfit Barranquilla</a> - 2023</div>
                <div class="copyright">Powered @<a href="https://www.nlanub.com">Nlanub</a> - 2023</div>
          
			</div>
		</div>
	</footer>
	
</div>
<!--End pagewrapper-->

<!--Scroll to top-->
<div class="scroll-to-top scroll-to-target" data-target="html"><span class="fal fa-arrow-circle-up"></span></div>


<script src={{ url_for('static', filename='js/jquery.js') }}></script>
<script src={{ url_for('static', filename='js/bootstrap.min.js') }}></script>
<script src={{ url_for('static', filename='js/lazyload.js') }}></script>
<script src={{ url_for('static', filename='js/scrollbar.js') }}></script>
<script src={{ url_for('static', filename='js/script.js') }}></script>

</body>
</html>
{% endblock %}