<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<title>Mancuerfit - Mancuernas, pesas, discos y pesas rusas</title>
<!-- Stylesheets -->
<link href={{ url_for('static', filename='css/bootstrap.css') }}  rel="stylesheet">
<link href={{ url_for('static', filename='css/style.css') }} rel="stylesheet">
<!-- Responsive File -->
<link href={{ url_for('static', filename='css/responsive.css') }}  rel="stylesheet">
<!-- Color File -->
<link href={{ url_for('static', filename='css/color.css') }} rel="stylesheet">

<link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,900&display=swap" rel="stylesheet">

<link rel="shortcut icon" href={{ url_for('static', filename='images/logo3.svg') }} type="image/x-icon">
<link rel="icon" href={{ url_for('static', filename='images/logo3.svg') }} type="image/x-icon">

<!-- Responsive -->
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
<!--[if lt IE 9]><script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.js"></script><![endif]-->
<!--[if lt IE 9]><script src="js/respond.js"></script><![endif]-->
</head>

<body>

 

    {% block index %}{% endblock %}
    {% block blog %}{% endblock %}
    {% block productos %}{% endblock %}
    {% block contacto %}{% endblock %}
    {% block about %}{% endblock %}
    {% block articulo1 %}{% endblock %}
    {% block articulo2 %}{% endblock %}
    {% block articulo3 %}{% endblock %}
    {% block articulo4 %}{% endblock %}
    {% block articulo5 %}{% endblock %}
    {% block articulo6 %}{% endblock %}
    {% block articulo7 %}{% endblock %}
    {% block articulo8 %}{% endblock %}
    {% block articulo9 %}{% endblock %}
    {% block articulo10 %}{% endblock %}
    {% block articulo11 %}{% endblock %}
    {% block articulo12 %}{% endblock %}
    {% block articulo13 %}{% endblock %}
    {% block articulo14 %}{% endblock %}
    {% block articulo15 %}{% endblock %}
    {% block articulo16 %}{% endblock %}
    {% block articulo17 %}{% endblock %}
    {% block articulo18 %}{% endblock %}
    {% block articulo19 %}{% endblock %}
    {% block articulo20 %}{% endblock %}